* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: linear-gradient(45deg, black, #ff8900);
  color: #3d4c4d;
}
.about {
  height: fit-content;
  padding-bottom: 4em;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.container-1140 {
  max-width: 1140px;
  margin: auto;
}
.background-primary {
  background-color: #db9f58;
  color: #3d4c4d;
}
.btn-black {
  height: 40px;
  color: white;
  background-color: #3d4c4d;
  padding: 9px 15px;
  border-radius: 4px;
  padding: 6px 9px;
  text-decoration: none;
  border: none;
  max-width: max-content;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-black:hover {
  box-shadow: 0 0 20px 0 #767676;
}
.btn-white {
  height: 40px;
  color: #db9f58;
  background-color: white;
  padding: 9px 15px;
  border-radius: 4px;
  padding: 6px 9px;
  text-decoration: none;
  border: none;
  max-width: max-content;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-white:hover {
  box-shadow: 0 0 20px 0 #d9e2ec;
}
.btn-gold {
  color: white;
  background-color: #db9f58;
  padding: 9px 15px;
  border-radius: 4px;
  padding: 6px 9px;
  text-decoration: none;
  max-width: max-content;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-gold:hover {
  box-shadow: 0 0 20px 0 #d9e2ec;
}
.heroicon {
  display: flex;
  gap: 5px;
  font-weight: 500;
}
.heroicon .arrow-up {
  width: 20px;
}
.mandatory {
  color: red;
  font-size: 14px;
  margin-bottom: 2em;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  /* Adjust the blur amount */
  z-index: 19;
  /* Ensure it's on top of everything */
  transition: opacity 1s ease;
  background-color: rgba(61, 76, 77, 0.5);
}
.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
  transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
  width: 3em;
  height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
  cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid {
  width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
  outline: transparent;
}
.search-bar {
  margin: auto;
  padding: 1.5em;
  justify-content: center;
  max-width: 30em;
  display: flex;
}
.search-bar input {
  background: transparent;
  border-radius: 1.5em;
  box-shadow: 0 0 0 0.4em #3d4c4d inset;
  padding: 0.75em;
  transform: translate(0.5em, 0.5em) scale(0.5);
  transform-origin: 100% 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.search-bar input::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
  background: #fff;
  border-radius: 0.375em 0 0 0.375em;
  box-shadow: 0 0 0 0.1em #d9d9d9 inset;
  transform: scale(1);
}
.search-btn {
  background: #3d4c4d;
  border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
  padding: 0.75em;
  position: relative;
  transform: translate(0.25em, 0.25em) rotate(45deg) scale(0.25, 0.125);
  transform-origin: 0 50%;
}
.search-btn:before,
.search-btn:after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
}
.search-btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2em #f1f1f1 inset;
  top: 0.75em;
  left: 0.75em;
  width: 1.2em;
  height: 1.2em;
}
.search-btn:after {
  background: #f1f1f1;
  border-radius: 0 0.25em 0.25em 0;
  top: 51%;
  left: 51%;
  width: 0.75em;
  height: 0.25em;
  transform: translate(0.2em, 0) rotate(45deg);
  transform-origin: 0 50%;
}
.search-btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
  background: #3d4c4d;
  border-radius: 0 0.375em 0.375em 0;
  transform: scale(1);
}
.search-bar input:focus + .search-btn:before,
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before,
.search-bar input:valid + .search-btn:after {
  opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
  background: #506566;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
  transform: translateY(1px);
}
@media screen and (prefers-color-scheme: dark) {
  body,
  input {
    color: #f1f1f1;
  }
  body {
    background: #3d4c4d;
  }
  .search-bar input {
    box-shadow: 0 0 0 0.4em #f1f1f1 inset;
  }
  .search-bar input:focus,
  .search-bar input:valid {
    background: #3d3d3d;
    box-shadow: 0 0 0 0.1em #3d3d3d inset;
  }
  .search-btn {
    background: #f1f1f1;
  }
}
.modal-new-organization {
  background: #3c4b4c;
  border-radius: 8px;
  width: 650px;
  margin: auto;
  z-index: 100;
  border: 4px solid #3c4b4c;
  box-shadow: 0 0 40px 0 #000000;
  padding: 83px;
  position: fixed;
  top: 30%;
  left: 40%;
  right: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: -150px;
  margin-top: -150px;
}
.modal-new-organization .tab-decision {
  display: flex;
  margin-bottom: 1.5em;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #3d4c4d;
}
.modal-new-organization .tab-decision .left-choice,
.modal-new-organization .tab-decision .right-choice {
  border: 2px solid #ffffff;
  padding: 20px 40px;
  flex: 1;
  color: white;
}
.modal-new-organization .tab-decision .left-choice {
  border-radius: 8px 0 0 0;
}
.modal-new-organization .tab-decision .right-choice {
  border-radius: 0 8px 0 0;
}
.modal-new-organization svg {
  max-width: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  color: white;
}
.modal-new-organization h3 {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 1em;
  color: white;
}
.modal-new-organization .input-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  justify-content: center;
  max-width: 100%;
  margin: auto;
}
.modal-new-organization .input-container button {
  column-span: 2;
  width: 90%;
}
.modal-new-organization .input-container input {
  height: 35px;
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid white;
  padding: 5px;
}
.popis-org-title {
  font-size: 28px;
  margin-bottom: 2em;
  font-weight: 400;
}
.hidden {
  display: none;
  transition: all 0.2s ease-in-out, border 0.2s ease-in-out;
}
.active {
  background-color: white;
  color: #3c4b4c !important;
  transition: all 0.2s ease-in-out, border 0.2s ease-in-out;
}
ul {
  list-style: none;
}
.home-view {
  width: 100%;
  background: linear-gradient(45deg, black, #ff8900);
  padding: 150px 0;
}
.home-view .container {
  display: flex;
  align-items: center;
  gap: 150px;
}
.home-view .container .left-item-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 50px;
  color: white;
}
.home-view .container .left-item-text h1 {
  font-size: 40px;
}
.home-view .container .left-item-text p {
  font-size: 24px;
}
.home-view .container .left-item-text .btn-white {
  max-width: max-content;
  width: max-content;
  padding: 8px 15px 5px 15px;
}
.home-view .container .left-item-text .btn-white svg {
  margin-bottom: 8px;
}
.home-view .container .left-item-text .btn-white:not:hover svg {
  transition: rotate 1s ease-in-out;
}
.home-view .container .left-item-text .btn-white:hover {
  background-color: #111827;
  transition: all 1s ease-in-out;
}
.home-view .container .left-item-text .btn-white:hover svg {
  rotate: 90deg;
  transition: all 0.5s ease-in-out;
}
.home-view .container .right-item-cards {
  flex: 1;
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.home-view .container .right-item-cards .grid-item-1,
.home-view .container .right-item-cards .grid-item-2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}
.home-view .container .right-item-cards .grid-item-1 .first-item {
  animation: transitionFirst 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.home-view .container .right-item-cards .grid-item-1 .second-item {
  animation: transitionSecond 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.home-view .container .right-item-cards .grid-item-2 {
  margin-top: 50px;
}
.home-view .container .right-item-cards .grid-item-2 .third-item {
  animation: 1s transitionThird ease-in-out;
  transition: all 1s ease-in-out;
}
.home-view .container .right-item-cards .grid-item-2 .fourth-item {
  animation: 1s transitionFourth ease-in-out;
  transition: all 1s ease-in-out;
}
.home-view .container .right-item-cards .item-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 60px 25px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.home-view .container .right-item-cards .item-card:hover {
  transform: scale(105%, 105%);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 20px 0 #d9e2ec;
}
.home-view .container .right-item-cards .item-card img {
  width: 60px;
}
.home-view .container .right-item-cards .item-card h2 {
  font-size: 20px;
  padding: 0;
}
.home-view .container .right-item-cards .item-card p {
  font-size: 16px;
  line-height: 2;
}
.home-view .claim-end {
  margin-top: 40px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.home-view .claim-end h2 {
  color: white;
  font-size: 40px;
  max-width: 600px;
  margin: auto;
  font-weight: 600;
}
.home-view .claim-end h2 span {
  background: -webkit-linear-gradient(#eee, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-view .claim-end p {
  color: white;
  font-size: 28px;
  color: gray;
}
.home-view .claim-end .two-btn {
  padding-top: 2em;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
.home-view .claim-end .two-btn a:first-child {
  padding-top: 5px;
  text-decoration: none;
  background: #111827;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 18px;
}
.home-view .claim-end .two-btn a:first-child:not:hover {
  transition: all 1s ease-in-out;
}
.home-view .claim-end .two-btn a:first-child:hover {
  background: #1b2845;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 20px 0 #d9e2ec;
}
.home-view .claim-end .two-btn a:nth-child(2) {
  color: white;
  font-size: 18px;
}
@keyframes transitionFirst {
  0% {
    transform: translate(-100px, -100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes transitionSecond {
  0% {
    transform: translate(-100px, 110px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes transitionThird {
  0% {
    transform: translate(100px, -100px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes transitionFourth {
  0% {
    transform: translate(100px, 110px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to bottom, white, #040415);
  }
  100% {
    background-color: #040415;
  }
}
