.generiraj-barkod {
  display: flex;
  height: 100vh;

  .about {
    background-color: white;
    width: 100%;
    .about-body {
      padding: 3.6em;
      background-image: linear-gradient(to bottom, #db9f58 50%, white 50%);
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    .three-buttons-data {
      display: flex;
      gap: 24px;
      align-content: center;
      justify-content: center;
      button {
        font-weight: 600;
        font-size: 15px;
      }
    }
    .promoted-organization {
      display: flex;
      border: 4px solid #f3f5f9;
      border-radius: 8px;
      max-height: 400px;
    }
    .right-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 1;
      align-items: center;
      justify-content: center;
      background-color: #f3f5f9;
    }
    .left-item {
      display: flex;
      align-items: center;
      flex: 1;
      width: 100%;
      justify-content: center;
      background-color: white;
    }
  }
}

// Implementation of table

/* default styling. Nothing to do with freexing first row and column */
main {
  display: flex;
}
main > * {
  border: 1px solid;
}
table {
  border-collapse: collapse;
  font-family: helvetica;
  border: 0 solid white;
  .row-button {
    display: flex;
    gap: 15px;
    align-content: center;
    justify-content: center;
    button {
      color: #3d4c4d;
      font-weight: 500;

      img {
        width: 25px;
        color: #3d4c4d;
      }
    }
  }
  tr {
    border: 1px solid white !important;
    display: flex;
  }
}
td,
th {
  border: 1px solid white;
  padding: 10px;
  min-width: 200px;
  background: white;
  box-sizing: border-box;
  text-align: left;
}
.table-container {
  position: relative;
  max-height: 500px;
  width: 1000px;
  margin: auto;
  overflow: scroll;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #db9f58;
}

thead th:first-child {
  left: 0;
  z-index: 3;
}

tfoot td:first-child {
  z-index: 3;
}

tbody {
  overflow: scroll;
}

/* MAKE LEFT COLUMN FIXEZ */
tr > :first-child {
  position: -webkit-sticky;
  position: sticky;
  background: #3d4c4d;
  color: white;
  left: 0;
}
/* don't do this */
tr > :first-child {
  box-shadow: inset 0px 1px #3d4c4d;
}

//this is the Input for Excell File css

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #ffffff;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
  background: #ffffff;
  border-color: #3d4c4d;
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
  color: #3d4c4d;
}

.drop-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

input[type="file"] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #db9f58;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;

  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #0d45a5;
}

//modal for receivers edit
.form-receiver-edit {
  background: #3c4b4c;
  border-radius: 8px;
  width: 650px;
  margin: auto;
  z-index: 100;
  border: 4px solid #3c4b4c;
  box-shadow: 0 0 40px 0 #000000;
  padding: 40px;
  position: fixed;
  top: 20%;
  left: 30%;
  .svg-close {
    text-align: right;
    margin-bottom: 2em;
    svg {
      cursor: pointer;
    }
  }
  p {
    font-size: 22px;
    margin-bottom: 1em;
    color: white;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    input {
      height: 47px;
      width: 100%;
      border-radius: 4px;
      border-bottom: 2px solid #a4a7ac;
      border-top: 1px solid #a4a7ac;
      border-left: 1px solid #a4a7ac;
      border-right: 1px solid #a4a7ac;
      padding: 0 5px;
      text-align: center;
    }
    button {
      font-size: 22px;
    }
  }
}
