@media print {
  .generiraj-barkod,
  .uplatnica-form-img {
    page-break-after: always;
    overflow: unset;
  }
  .generiraj-barkod,
  .uplatnica-form-img {
    page-break-inside: avoid;
  }

  @page {
    size: landscape;
  }
  .above-info {
    visibility: hidden;
    display: none;
  }
  .payment-slips-container {
    max-width: 350px;
    max-height: 350px;
    .inactive {
      visibility: hidden;
    }
  }
  .btn-black {
    visibility: hidden;
  }
  .aside {
    visibility: hidden;
    display: none;
  }
  .header-class-navbar {
    display: none;
  }
  body {
    background: white;
  }
  .window-print-all {
    visibility: hidden;
  }
  .button-57 {
    visibility: hidden;
  }
  .btn-container {
    visibility: hidden;
    display: none;
  }
  .title-payment-view {
    visibility: hidden;
  }
  .btn-container {
    display: none;
    visibility: hidden;
  }
}
